<!DOCTYPE html>
<html>
    <head>
        <title>Igloop chat app</title>
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Titillium+Web:wght@600;700&display=swap" rel="stylesheet">
    </head>

    <style>
        body{
            background-color: #2c2c2c;
            font-family: 'URW Dock', 'Titillium Web';
            color: white;
        }

        h2{
            text-align: center;
            padding-top: 35px;
        }

    </style>
    <body>
        <h2>Sorry,<span> ${username}, </span> it would seem you are not a registered user</h2>

    </body>

</html>